page-records {
  ion-label {
    .title {
      font-size: 17px;
    }

    .sub-title {
      font-size: 12px;
      color: #8e8e93;
    }
  }

  .delete-btn {
    font-size: 17px;
    color: #f7741a;
  }
}
